.App>.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 4.5em;
}

button {
  cursor: pointer;
}

@media (min-width: 900px) {
  body {
    overflow-y: scroll;
  }

  .title-bar .title {
    font-size: 2em;
  }

  .navigation.collapse {
    display: block;
  }

  .nav-toggler {
    display: none;
  }

  .App>.container {
    display: flex;
  }

  .content {
    width: calc(100% - 12.5em);
  }

  .nav-container {
    order: 2;
    width: 15%;
    position: relative;
  }

  .navigation {
    width: 11em;
    position: fixed;
    right: 1em;
  }

  .navigation > span {
    font-size: 0.9em;
  }

}

@media (min-width: 1725px) {
  .content {
    width: 100%;
  }

  .nav-container {
    width: 0%;
  }
}