.content {
  margin-left: 10px;
  margin-right: 10px;
}

.content .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content .heading>.title {
  font-size: 1.5em;
  font-weight: bold;
}

.content .invalid-sub {
  color: orangered;
}