.post {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-right: 0.25em;
}

.post .image-container {
  padding-right: 0.25em;
  flex-basis: 10em;
  width: 10em;
}

.post .image-container img {
  display: block;
  width: 10em;
  height: auto;
  border-radius: 0.25em;
}


.post .title {
  text-decoration: none;
  font-size: 1.25em;
}

.post a:hover {
  text-decoration: underline;
}

.post .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post .container .info {
  padding-top: 0.25em;
  color: gray;
}

.post .container .info a {
  color: gray;
  text-decoration: underline;
}

.post .container .info span {
  padding-right: 0.25em;
  display: inline-block;
}