.title-bar {
  display: flex;
  padding: 0.5em;
  align-items: center;
  background-color: #cee3f8;
  border-bottom: 0.1em solid steelblue;
  margin-bottom: 0.25em;
  position: fixed;
  z-index: 10;
  width: calc(100% - 1em);
}

.title-bar img {
  display: block;
  width: auto;
  height: 3em;
  padding-right: 0.25em;
  cursor: pointer;
}

.title-bar .title {
  font-size: 1.75em;
  margin-right: auto;
}

.title-bar .nav-toggler {
  margin-left: 0.25em;
}

.title-bar .nav-toggler-icon:hover {
  cursor: pointer;
}

/*@media (min-width: 725px) {
  .title-bar .nav-toggler-icon {
    font-size: 2.2em;
  }
}*/